html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0
}
fieldset,img {
    border: 0
}
img {
    display: block
}
address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal
}
ul,ol {
    list-style: none
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun","宋体"
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
select,input {
    vertical-align: middle
}
select,input,textarea {
    font-size: 12px;
    margin: 0
}
input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none
}
textarea {
    resize: none
}
table {
    border-collapse: collapse
}
.mTop10{
    margin-top: 10px !important;
}
.mTop20{
    margin-top: 20px !important;
}
.mTop40{
    margin-top: 40px !important;
}
.mTop60{
    margin-top: 60px !important;
}
.mTop80{
    margin-top: 80px !important;
}
.mBot20{
    margin-bottom: 20px !important;
}
.mBot40{
    margin-bottom: 40px !important;
}
.mBot50{
    margin-bottom: 50px !important;
}
.mBot60{
    margin-bottom: 60px !important;
}
.mLeft20{
    margin-left: 20px !important;
}
.mLeft40{
    margin-left: 40px !important;
}
.mLeft60{
    margin-left: 60px !important;
}
.mRight20{
    margin-right: 20px !important;
}
.el-table thead tr th{
    background-color: #0188EF !important;
    color: #ffffff;
}

.fLeft{
    float: left;
}
.fRight{
    float: right;
}
.inlineBlock{
    display: inline-block;
}

.searchDialog .el-dialog__body{
    min-height: 200px;
}

/*::-webkit-scrollbar {  !* 滚动条整体部分 *!
    width:10px;
    margin-right:2px
}
::-webkit-scrollbar-button { !* 滚动条两端的按钮 *!
    width:10px;
    background-color: #cdcdcd;
}
::-webkit-scrollbar:horizontal {
    height:20px;
    margin-bottom:2px
}
::-webkit-scrollbar-track {  !* 外层轨道 *!
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {  !*内层轨道，滚动条中间部分 *!
    background-color: #333333;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {  !* 滑块 *!
    width:10px;
    border-radius: 5px;
    background: #CBCBCB;
}
::-webkit-scrollbar-corner { !* 边角 *!
    width: 10px;
    background-color: red;
}
::-webkit-scrollbar-thumb:hover { !* 鼠标移入滑块 *!
    background: #909090;
}*/

/* 滚动条美化效果 */
::-webkit-scrollbar {
    width: 8px;/*竖向滚动条的宽度*/
    height: 8px;/*横向滚动条的高度*/
}
/*滚动条轨道的样式*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*滚动条轨道内滑块的样式*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(65,192,188,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*当焦点不在当前区域滑块的状态（具体为什么要加这句有点忘了，记得是跟刷新时有关）*/
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(65,192,188,0.2);
}

.allDown .el-checkbox+.el-checkbox{
    margin-left: 0 !important;
}
.allDown .el-checkbox{
    margin: 10px 10px 0 0;
}


.center{
    text-align: center;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

